@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap");

body {
  padding: 20px;
}

span {
  font-weight: 700;
}

/*==================================================================================*/

.block {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
}
.block__container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  align-items: start;
  gap: 20px;
}

/*==================================================================================*/
.block__github {
  border-radius: 15px;
  background-color: #caa5fb;
  padding: 24px;
}

.github-block {
}
.title {
  font-weight: 700;
  font-size: 32px;
}
.title:not(:last-child) {
  margin-bottom: 25px;
}
.item-block:not(:last-child) {
  margin-bottom: 15px;
}
.github-block__description {
  font-style: italic;
  font-weight: 500;
}
.github-block__description:not(:last-child) {
  margin-bottom: 15px;
}
.github-block__item {
}
.github-block__item-title {
  font-weight: 700;
  font-size: 21px;
}
.github-block__item-title:not(:last-child) {
  margin-bottom: 10px;
}
.github-block__list {
}
.github-block__list-item {
  cursor: pointer;
  transition: color 0.3s;
  padding-left: 20px;
}
.github-block__list-item:not(:last-child) {
  margin-bottom: 15px;
}
.github-block__list-item:hover {
  text-decoration: underline;
  color: crimson;
}

/*==================================================================================*/

.block__commit {
  color: rgb(214, 214, 214);
}
.commit-block {
  border-radius: 15px;
  padding: 24px;
  background-color: crimson;
}

.commit-block__description {
  font-style: italic;
  font-weight: 500;
}
.commit-block__description:not(:last-child) {
  margin-bottom: 15px;
}
.commit-block__item {
}
.commit-block__item-title {
  font-weight: 700;
  font-size: 21px;
}
.commit-block__item-title:not(:last-child) {
  margin-bottom: 10px;
}
.commit-block__list {
}
.commit-block__list-item {
  cursor: pointer;
  transition: color 0.3s;
  padding-left: 20px;
}
.commit-block__list-item:not(:last-child) {
  margin-bottom: 15px;
}
.commit-block__list-item:hover {
  text-decoration: underline;
  color: #caa5fb;
}
.sub-title {
  font-weight: 700;
}

.sub-title:not(:last-child) {
  margin-bottom: 15px;
}

/*==================================================================================*/
.block-item {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.block-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.block__button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .block__button {
    padding: 19px 32px;
  }
}

.block__button:before,
.block__button:after {
  border-radius: 80px;
}

.block__button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.block__button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.block__button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.block__button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.block__button:active:not(:disabled) {
  color: #ccc;
}

.block__button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.block__button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.block__button:disabled {
  cursor: default;
  opacity: 0.24;
}
